<h1>Articles Tagged with <span class="tag-text"><%= @tag.name %></span></h1>

<ul>
  <% @tag.articles.each do |article| %>
    <%= render partial: 'articles/article_summary', locals: { article: article } %>
  <% end %>
</ul>
